body {
    background-color: antiquewhite;
    width: 100%;
    font-family: 'Poppins', sans-serif;
   
}

.header {
    display: flex;
    justify-content: center;
    font-size: 1.7em;
    color: slateblue;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    height: 25vh;
}

#products, #cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2px; 
    background-color: white;
    width: 60%;
    margin: auto;
    
}

img {
    height: 250px;
    width: 200px;
}

.cart_link, .back_link {
    float: right;
    margin-right: 5%;
    font-size: 1.5em;
    height: 10vh;
}

button {
    background-color: slateblue;
    width: 144px;
    height: 50px;
    border-radius: 30px;
    margin-bottom: 5%;
    border: none;
}

    button:hover {
        background-color: purple;
    }

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type=text], select {
    width: 40%;
    padding: 12px 20px;
    margin: 3px 0;
    display: flex;

    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}